{% extends 'base.html.twig' %}

{% block body %}
<div id="ShortUrlListController" ng-controller="ShortUrlListController"  data-host="{{ base_url }}">
    <div class="jumbotron">
        <h1>Simplify your links</h1>
        <div class="row">
            <form id="form-url">
                <div class="col-lg-8">
                    <div class="form-group" ng-class="hasError('originUrl')">
                        <input ng-model="form.origin_url" placeholder="Enter your original url here ..." type="text" class="form-control">
                        <div class="help-block">[[error.originUrl]]</div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input ng-model="enable_slug" ng-true-value="1" ng-false-value="0" type="checkbox">
                            Enter your short name
                        </label>
                    </div>
                    <div ng-show="enable_slug" class="form-group" ng-class="hasError('slug')">
                        <input ng-model="form.slug" style="width:120px;" maxlength="8" type="text" class="form-control">
                        <div class="help-block">[[error.slug]]</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <a href="#!" ng-click="sendForm()" class="btn btn-primary">Get Short URL</a>
                </div>
            </form>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Original URL</th>
                <th style="width: 255px">Short URL</th>
                <th style="width: 255px">Created At</th>
                <th style="width: 70px;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="raw in shortUrls">
                <td>[[ raw.origin_url ]]</td>
                <td>[[ generateUrl(raw.slug) ]]</td>
                <td>[[ raw.created_at ]]</td>
                <td><a class="text-danger" href="#!" ng-click="deleteUrl(raw.id)"><i class="fa fa-trash"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
